html, body {
    margin: 0;
    font-size: 14px;
    font-family: "Titillium Web", sans-serif;
    box-sizing: border-box;
    background-color: #212226;
    /* Ajusta o padding do topo para rolagem */
    scroll-padding-top: 75px;
}

h1, h2 {
    font-family: "Rajdhani", sans-serif;
}