.skills {
	color: white;
	display: inline-block;
	vertical-align: top;
	/*50% da largura da tela menos a metade da largura total da margem entre os containers*/
	width: calc(50% - 14px);
	box-sizing: border-box;
	margin-top: 20px;
	position: relative;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	padding: 2vh;
	height: auto;
}

.skill-item {
	position: relative;
	margin-bottom: 10px;
}

.skill-name {
	position: relative;
	z-index: 1;
	display: block;
	text-align: left;
}

.skill-bar {
	position: relative;
	height: 10px;
	width: 100%;
	background-color: #525259;
	border-radius: 4px;
	/*Oculta qualquer parte da barra de progresso que exceda a largura*/
	overflow: hidden;
}

.skill-progress {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #cff250;
	border-radius: 4px;
	/*Transição suave para a largura da barra*/
	transition: width 0.5s ease;
	height: 100%;
}

.skill-ratio-en {
	width: 60%;
}

.skill-ratio-mso {
	width: 90%;
}

.skill-ratio-html {
	width: 70%;
}

.skill-ratio-nc {
	width: 70%;
}

.skill-ratio-if {
	width: 95%;
}

.skill-ratio-py {
	width: 50%;
}

.skills h2 {
	margin-top: 0;
	text-align: center;
}

.skills ul {
	list-style: none;
	padding: 0;
}

/* Mobile */
@media (max-width: 576px) {
	.skills {
		width: 100%;
		height: auto;
	}
}

@media (max-width: 768px) {
}
@media (max-width: 992px) {
}
