/*EXERCÍCIOS CSS ZEN GARDEN*/

/*1 - Definir paleta de cores*/

/*  #C5D9D2 - cor de fundo
    #2A383A - cor do texto
    #8C0327 - cor de destaque */

html {
    background:#C5D9D2; /*cor de fundo*/
    color: #2a383a; /*cor do texto*/
}

h3 {
    color: #8C0327; /*cor de destaque*/
}

/*EXERCÍCIOS ESTILIZAÇÃO TEXTUAL*/
/*2 - Prática: Nesta atividade iremos personalizar o texto presente na página CSS Zen Garden: The Beauty of CSS Design.

2.1. Aspectos gerais. Aplique os seguintes estilos na estrutura geral da página.
a. Defina um tamanho fixo para a página inteira
b. Defina uma fonte do tipo sans-serif para a página inteira
c. Indente os parágrafos em 1em

2.2. Títulos. Alinhe todos os títulos para o centro ou a direita.
a. Defina o tamanho do h1 em 1.8rem
b. Defina o tamanho do h2 em 1.4rem
c. Defina o tamanho do h3 em 1.2rem

2.3. Seções de resumo e principal. Localize os elementos que representam a seção de resumo e principal da página, e aplique nelas:
a. Alinhamento a direita ou centralizado para a seção de resumo.
b. Espaçamento entre as linhas de 1.5 para os parágrafos da seção principal.

2.4. Abreviaturas. Customize todos as abreviaturas para que a fonte seja carregada em small-caps.*/

html {
    font-size: 20px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

p {
    text-indent: 1em;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

.summary {
    text-align: right;
}

.main p {
    line-height: 1.5;
}

abbr {
    font-variant: small-caps;
}

/*EXERCÍCIOS BOX MODEL*/
/*3.1. Vamos definir algumas diretivas gerais para nossa página.
a. Defina a largura geral da página em 80%, limitado a no máximo 1280px de largura. Centralize a página na tela.
b. Defina a altura da seção de introdução em 550px
c. Remova o container #design-archives da renderização da página

3.2. Agora vamos incrementar o cabeçalho da página.
a. Inverta a cor do cabeçalho aplicando o fundo escuro e a fonte clara.
b. Coloque título e subtítulo lado-a-lado, mas mantendo espaçamento entre eles e o restante da página.
c. Adicione um espaçamento lateral de 1em para o título principal.

3.3. É hora de incrementar os menus!
a. Remova os bullets dos itens de menu presentes no painel lateral.
b. Aumente o espaçamento entre os itens do menu para 1em, pelo menos.
c. Centralize os itens presentes em cada menu.

3.4. Por fim, vamos aplicar uma inversão de cores no rodapé para ele ganhar um contraste em relação ao restante da página.
a. Adicione 4% de espaçamento externo no rodapé.
b. Transforme cada link do rodapé em uma caixa colocando borda sólida de 2px, e espaçamento interno de 0.5em.*/

html {
    width: 80%;
    max-width: 1280px;
    margin: auto;
}

#zen-intro {
    height: 550px;
}

#design-archives {
    display: none;
}

#zen-intro header {
    background-color: #2a383a;
    color: #C5D9D2;
}

#zen-intro header h1, #zen-intro header h2  {
    display: inline-block;
}

#zen-intro header h1 {
    margin-left: 1em;
    margin-right: 1em;
}

aside ul {
    list-style-type: none;
}

aside ul li {
    margin: 1em;
    text-align: center;
}

.main footer {
    background-color: #2a383a;
    margin: 4%;
}

.main footer a {
    color: #C5D9D2;
    border: solid 2px #516D73;
    padding: 0.5em;
    display: inline-block;
}

.main footer a:hover {
    color: #8C0327;
}

/*EXERCÍCIOS POSICIONAMENTO*/

/*4. O foco dessa atividade será reposicionar os elementos da nossa página!

4.1. Defina o elemento .page-wrapper como referência para posicionamento.

4.2. Faça com que o painel .explanation ocupe 60% da largura disponível, mas crie um espaçamento a direita de 35% utilizando margin .
a. Adicione uma borda à direita do painel de 1px, com a cor #1f295c
b. Adicione um espaçamento interno de 2% no lado direito do painel.

4.3. Agora mova o menu de designs para a direita da página, ocupando o espaço em branco deixado pelo elemento .explanation .
a. Faça-o iniciar na parte superior da página, após a parte de introdução (por exemplo, aplicando top: 560px ).
b. Faça-o iniciar após o elemento .explanation (por exemplo, aplicando left: 62% ).
c. Adicione um espaçamento interno horizontal de 2% no menu para centralizá-lo.*/

.page-wrapper {
    position: relative;
}

.explanation {
    width: 60%;
    border-right: solid 1px #1f295c;
    padding-right: 2%;
}

#design-selection {
    position: absolute;
    top: 560px;
    left: 62%;
    padding-left: 2%;
}
